.app-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 350px;
  padding: 1rem;
  box-sizing: border-box;
}

.App {
  flex: 1;
}

.upload-input-container {
  margin: 1rem 0;
  text-align: center;
}

.code-block-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #0001;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem 0;
  border-left: 5px solid #0003;
}

.code-block {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.code-block-copied {
  background-color: #afa;
  animation: copied 1s forwards;
}

@keyframes copied {
  50% {
    background-color: #afa;
  }
  100% {
    background-color: #0001;
  }
}

.change-key-button-container {
  text-align: center;
}
