.app-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  padding: 1rem;
  box-sizing: border-box;
}

.App {
  flex: 1;
}

.upload-input-container {
  margin: 1rem 0;
  text-align: center;
}

.change-key-button-container {
  display: flex;
}

.change-key-button-wrapper {
  flex: 1;
}

.history-no-image-header {
  text-align: center;
  margin-top: 1rem;
  color: blue;
}

.history-container {
  max-height: 200px;
  overflow: auto;
}

.history-list-item {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.history-image {
  flex-shrink: 0;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
