.uploader-component {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  padding: 1rem;
  box-sizing: border-box;
}

.uploader-wrapper {
  flex: 1;
}

.upload-input-container {
  margin: 1rem 0;
  text-align: center;
}

.change-key-button-container {
  display: flex;
}

.change-key-button-wrapper {
  flex: 1;
}
